.customContainer {
    margin: 4rem;
}

.round {
    border-radius: 20px;
}
  
.scrollable {
    width: auto;
    height: 20rem;
    overflow-y: scroll;
}

.scrollableTable {
    width: auto;
    height: 30rem;
    overflow-y: scroll;
}

.chart_Design {
    height: 376px;
    max-width: 920px;
    margin: 0px auto;
}

.advice_Image {
    height: 300px;
    width: 300px;
}

.mask_Image {
    height: 300px;
    width: 500px;
}

.navFontSize {
    font-size: large;
}

#each_District {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:#d3d3d3 solid 1px;
  background: #fff;
  color: black;
  font-family: Comfortaa, Verdana;
  font-size: 16;
  padding: 20px;
  pointer-events:none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#district_Map {
    padding:80px;
    padding-top:10px;
}

#dhakaAreaCount, #districtCount {
    color: red;
    font-size: larger;
}

/* Pre loader */
.mainLoader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

/* logo rotate 360 */
#logoImage {
    width: 60px;
    height: 60px;
    margin: 2px 15px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navClass {
    background-color: rgb(33, 138, 174)
}

.cardsImage {
    max-width: 6rem;
    max-height: 6rem;
}

.frame-area {
    display: block;
    width: 100%; /* RESPONSIVE WIDTH */
    max-width: 1330px;
    height: 600px;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}