.customContainer {
    margin: 4rem;
}

.scrollable {
    width: auto;
    height: 20rem;
    overflow-y: scroll;
}

.chart_Design {
    height: 376px;
    max-width: 920px;
    margin: 0px auto;
}

.advice_Image {
    height: 300px;
    width: 300px;
}

.mask_Image {
    height: 300px;
    width: 500px;
}