.customContainer {
    margin: 4rem;
}

.scrollable {
    width: auto;
    height: 20rem;
    overflow-y: scroll;
}

.chart_Design {
    height: 376px;
    max-width: 920px;
    margin: 0px auto;
}

.advice_Image {
    height: 300px;
    width: 300px;
}

.mask_Image {
    height: 300px;
    width: 500px;
}

.navFontSize {
    font-size: large;
}

#logoImage {
    height: 60px;
    width: 60px;
    margin: 2px 15px;
}

#cpa-logo {
    font-family: "Google Sans", sans-serif;
    font-size: 25px;
    margin-top: 2px;
    margin-left: 10px;
    color: #ffffff;
  }
  